@charset "UTF-8";

/*
Name: Navigation
URL: http://github.com/Darklg/CSSCommon
Version: 1.6.4
License: MIT
*/

/* ----------------------------------------------------------
  Pagination
---------------------------------------------------------- */

.cssc-pagination-center {
    text-align: center;
}

.cssc-pagination * {
    display: inline-block;
    vertical-align: middle;
    *zoom: 1;
    *display: inline;
}

/* Style d'exemple */

.cssc-pagination span,
.cssc-pagination strong,
.cssc-pagination a {
    padding: 0 7px;
    border: 1px solid #eee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-background-clip: border;
}

.cssc-pagination * {
    line-height: 30px;
}

.cssc-pagination {
    margin-bottom: 30px;
}

.cssc-pagination strong,
.cssc-pagination .current,
.cssc-pagination a:focus,
.cssc-pagination a:hover {
    border-color: #ccc;
}

/* ----------------------------------------------------------
  Menu Principal
---------------------------------------------------------- */

.cssc-mainnav {
    z-index: 1;
    position: relative;
    vertical-align: middle;
}

.cssc-mainnav:hover {
    z-index: 2;
}

.cssc-mainmenu {
    height: 100%;
}

.cssc-mainmenuplus {
    z-index: 4;
    float: right;
    position: relative;
}

.cssc-mainmenuplus > li > a,
.cssc-mainmenuplus > li,
.cssc-mainmenu > li > a,
.cssc-mainmenu > li {
    float: left;
}

.cssc-mainmenuplus > li > a,
.cssc-mainmenu > li > a {
    display: block;
    vertical-align: middle;
}

/* Gestion sous-menu */

.cssc-mainmenu:hover,
.cssc-mainmenu:hover > li {
    z-index: 3;
    position: relative;
}

/* Si sous-menu de largeur 100% */

.cssc-mainmenu:hover > .richsubmenu {
    position: static;
}

.richsubmenu .submenu {
    position: absolute;
    right: 0;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
}

/* Si sous-menu de largeur fixe*/

.richsubmenu2 > .submenu {
    width: 600px;
}

.cssc-mainmenu .submenu {
    visibility: hidden;
    z-index: 2;
    position: absolute;
    top: 100%;
    left: 0;
    white-space: nowrap;
    opacity: 0;
}

.cssc-mainmenu > li > a:focus + .submenu,
.cssc-mainmenu > li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.cssc-mainmenu .submenu a {
    white-space: nowrap;
}

.cssc-mainmenu .submenu .subcol > ul,
.cssc-mainmenu .submenu .subcol {
    float: left;
}

/* Style d'exemple */

.cssc-mainnav {
    height: 30px;
    margin-bottom: 30px;
    border: 1px solid #eee;
}

.cssc-mainmenuplus > li > a,
.cssc-mainmenuplus > li,
.cssc-mainmenu > li > a,
.cssc-mainmenu > li {
    line-height: 30px;
}

.cssc-mainmenuplus {
    border-left: 1px solid #eee;
}

.cssc-mainmenuplus > li > a,
.cssc-mainmenu > li > a {
    padding: 0 10px;
}

.cssc-mainmenu > li:hover > a,
.cssc-mainmenu > li > a:focus,
.cssc-mainmenu > .current > a {
    color: #000;
}

.cssc-mainmenu > li > a {
    border-right: 1px solid #eee;
}

.cssc-mainmenu .submenu {
    padding: 10px;
    border: 1px solid #eee;
    border-width: 0 0 1px 1px;
    background: #f9f9f9;
}

.cssc-mainmenu .subcol {
    min-width: 200px;
}

.cssc-mainmenu .subcol > ul {
    min-width: 150px;
}

.cssc-mainmenu .subcol + .subcol,
.cssc-mainmenu .subcol > ul + ul {
    margin-left: 15px;
}

/* ----------------------------------------------------------
  Fil d'ariane
---------------------------------------------------------- */

.cssc-ariane {
    height: 20px;
    margin-bottom: 30px;
    line-height: 20px;
}

.cssc-ariane > li {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

/* ----------------------------------------------------------
  Liste en ligne
---------------------------------------------------------- */

.cssc-inline-list_label,
.cssc-inline-list li,
.cssc-inline-list a,
.cssc-inline-list {
    display: inline-block;
    vertical-align: middle;
    *display: inline;
    *zoom: 1;
}

.cssc-inline-list_label {
    margin-right: 5px;
    font-size: 13px;
}

.cssc-inline-list li,
.cssc-inline-list {
    height: 30px;
    line-height: 30px;
}

.cssc-inline-list a {
    padding: 0 5px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    line-height: 23px;
}

.cssc-inline-list .current a {
    color: #fff;
    background-color: #369;
}

/* ----------------------------------------------------------
  Menu vertical
---------------------------------------------------------- */

.cssc-vertical-menu {
    margin-bottom: 20px;
    max-width: 300px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.cssc-vertical-menu li + li {
    border-top: 1px solid #eee;
}

.cssc-vertical-menu a {
    display: block;
    padding: 0 10px;
    line-height: 30px;
}

.cssc-vertical-menu a:focus,
.cssc-vertical-menu a:hover {
    background-color: #f0f0f0;
}

.cssc-vertical-menu .current a {
    padding-left: 7px;
    border-left: 3px solid #369;
}

/* ----------------------------------------------------------
  Pagination bullet
---------------------------------------------------------- */

.cssc-bullet {
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.cssc-bullet li {
    display: inline-block;
    line-height: inherit;
    vertical-align: middle;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
    cursor: pointer;
    *display: inline;
    *zoom: 1;
}

/* Thème
-------------------------- */

.cssc-bullet {
    height: 15px;
    line-height: 15px;
}

.cssc-bullet li {
    padding: 0 2px;
    font-size: 35px;
    color: #999;
}

.cssc-bullet .current,
.cssc-bullet li:hover {
    color: #333;
}