@charset "UTF-8";

/*
Name: Modèles basiques
URL: http://github.com/Darklg/CSSCommon
Version: 1.3.9
License: MIT
*/

/* ----------------------------------------------------------
    Modèle : Pagination
   ------------------------------------------------------- */

.cssc-pagination-center {
    text-align: center;
}

.cssc-pagination * {
    display: inline-block;
    vertical-align: middle;
    *zoom: 1;
    *display: inline;
}

/* Style d'exemple */

.cssc-pagination span,
.cssc-pagination strong,
.cssc-pagination a {
    padding: 0 7px;
    border: 1px solid #eee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-background-clip: border;
}

.cssc-pagination * {
    line-height: 30px;
}

.cssc-pagination {
    margin-bottom: 30px;
}

.cssc-pagination strong,
.cssc-pagination .current,
.cssc-pagination a:focus,
.cssc-pagination a:hover {
    border-color: #ccc;
}

/* ----------------------------------------------------------
    Modèle : Menu Principal
   ------------------------------------------------------- */

.cssc-mainnav {
    vertical-align: middle;
}

.cssc-mainmenu {
    height: 100%;
}

.cssc-mainmenuplus {
    z-index: 4;
    float: right;
    position: relative;
}

.cssc-mainmenuplus > li > a,
.cssc-mainmenuplus > li,
.cssc-mainmenu > li > a,
.cssc-mainmenu > li {
    float: left;
}

.cssc-mainmenuplus > li > a,
.cssc-mainmenu > li > a {
    display: block;
    vertical-align: middle;
}

/* Gestion sous-menu */

.cssc-mainmenu:hover,
.cssc-mainmenu:hover > li {
    z-index: 3;
    position: relative;
}

/* Si sous-menu de largeur 100% */

.cssc-mainmenu:hover > .richsubmenu {
    position: static;
}

.richsubmenu .submenu {
    position: absolute;
    right: 0;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
}

/* Si sous-menu de largeur fixe*/

.richsubmenu2 > .submenu {
    width: 600px;
}

.cssc-mainmenu .submenu {
    visibility: hidden;
    z-index: 2;
    position: absolute;
    top: 100%;
    left: 0;
    white-space: nowrap;
    opacity: 0;
}

.cssc-mainmenu > li > a:focus + .submenu,
.cssc-mainmenu > li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.cssc-mainmenu .submenu a {
    white-space: nowrap;
}

.cssc-mainmenu .submenu .subcol > ul,
.cssc-mainmenu .submenu .subcol {
    float: left;
}

/* Style d'exemple */

.cssc-mainnav {
    height: 30px;
    margin-bottom: 30px;
    border: 1px solid #eee;
}

.cssc-mainmenuplus > li > a,
.cssc-mainmenuplus > li,
.cssc-mainmenu > li > a,
.cssc-mainmenu > li {
    line-height: 30px;
}

.cssc-mainmenuplus {
    border-left: 1px solid #eee;
}

.cssc-mainmenuplus > li > a,
.cssc-mainmenu > li > a {
    padding: 0 10px;
}

.cssc-mainmenu > li:hover > a,
.cssc-mainmenu > li > a:focus,
.cssc-mainmenu > .current > a {
    color: #000;
}

.cssc-mainmenu > li > a {
    border-right: 1px solid #eee;
}

.cssc-mainmenu .submenu {
    padding: 10px;
    border: 1px solid #eee;
    border-width: 0 0 1px 1px;
    background: #f9f9f9;
}

.cssc-mainmenu .subcol {
    min-width: 200px;
}

.cssc-mainmenu .subcol > ul {
    min-width: 150px;
}

.cssc-mainmenu .subcol + .subcol,
.cssc-mainmenu .subcol > ul + ul {
    margin-left: 15px;
}

/* ----------------------------------------------------------
   Modèle : Fil d'ariane
   ------------------------------------------------------- */

.cssc-ariane {
    height: 20px;
    margin-bottom: 30px;
    line-height: 20px;
}

.cssc-ariane > li {
    display: inline-block;
    zoom: 1;
    *display: inline;
}