/*
Name: Content
URL: http://github.com/Darklg/CSSCommon
Version: 2.0
License: MIT
*/
/* ----------------------------------------------------------
  Content organization
---------------------------------------------------------- */
.content-container {
  position: relative;
  padding: 20px;
}

/* Large Area
-------------------------- */
.large-content-area {
  position: relative;
  margin-right: -20px;
  margin-left: -20px;
}

/* Quickhacks
-------------------------- */
.center {
  text-align: center;
}
