@charset "UTF-8";

/*
Name: Grids
URL: http://github.com/Darklg/CSSCommon
Version: 3.0.1
License: MIT
*/

.cssc-grid {
    clear: both;
    max-width: 100%;
}

.cssc-grid > * {
    float: left;
    zoom: 1;
    min-height: 1px;
}

/* ----------------------------------------------------------
  Grille 940-24-20 : 940px / 24 cols / Gout. 20px
---------------------------------------------------------- */

.cssc-grid.gri-940-24-20 {
    width: 940px;
}

.gri-940-24-20 > * + * {
    margin-left: 20px;
}

.gri-940-24-20 .col-1 {width: 20px}
.gri-940-24-20 .col-2 {width: 60px}
.gri-940-24-20 .col-3 {width: 100px}
.gri-940-24-20 .col-4 {width: 140px}
.gri-940-24-20 .col-5 {width: 180px}
.gri-940-24-20 .col-6 {width: 220px}
.gri-940-24-20 .col-7 {width: 260px}
.gri-940-24-20 .col-8 {width: 300px}
.gri-940-24-20 .col-9 {width: 340px}
.gri-940-24-20 .col-10 {width: 380px}
.gri-940-24-20 .col-11 {width: 420px}
.gri-940-24-20 .col-12 {width: 460px}
.gri-940-24-20 .col-13 {width: 500px}
.gri-940-24-20 .col-14 {width: 540px}
.gri-940-24-20 .col-15 {width: 580px}
.gri-940-24-20 .col-16 {width: 620px}
.gri-940-24-20 .col-17 {width: 660px}
.gri-940-24-20 .col-18 {width: 700px}
.gri-940-24-20 .col-19 {width: 740px}
.gri-940-24-20 .col-20 {width: 780px}
.gri-940-24-20 .col-21 {width: 820px}
.gri-940-24-20 .col-22 {width: 860px}
.gri-940-24-20 .col-23 {width: 900px}
.gri-940-24-20 .col-24 {width: 940px}

/* <3 http://grid.mindplay.dk/ <3 */

/* ----------------------------------------------------------
  Grille fluide
---------------------------------------------------------- */

.cssc-grid.fluid-grid {
    width: 100%;
}

.cssc-grid.fluid-grid > * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
}

.cssc-grid.fluid-grid > :first-child {
    padding-left: 0;
}

.cssc-grid.fluid-grid > :last-child {
    padding-right: 0;
}

/* IE < 8 Fixes */

.lt_ie8 .cssc-grid.fluid-grid {
    width: 100%;
}

.lt_ie8 .cssc-grid.fluid-grid > * {
    padding: 0;
}

/* Colonnes
-------------------------- */

.fluid-grid.gri-five-col > *,
.fluid-grid .col-20p {
    width: 20%;
}

.fluid-grid.gri-four-col > *,
.fluid-grid .col-25p {
    width: 25%;
}

.fluid-grid.gri-three-col > *,
.fluid-grid .col-33p {
    width: 33.333%;
}

.fluid-grid.gri-two-col > *,
.fluid-grid .col-50p {
    width: 50%;
}

/* Responsive
-------------------------- */

@media(max-width:860px) {
    .cssc-is-responsive .fluid-grid.gri-two-col > * {
        display: block;
        width: 100%;
        padding: 0;
    }
}

@media(max-width:860px) and (min-width:521px) {
    .cssc-is-responsive .fluid-grid.gri-five-col > *,
    .cssc-is-responsive .fluid-grid.gri-four-col > *,
    .cssc-is-responsive .fluid-grid.gri-three-col > * {
        width: 50%;
    }

    .cssc-is-responsive .fluid-grid.gri-five-col >:nth-child(5) ,
    .cssc-is-responsive .fluid-grid.gri-five-col >:nth-child(3) ,
    .cssc-is-responsive .fluid-grid.gri-four-col >:nth-child(3) ,
    .cssc-is-responsive .fluid-grid.gri-three-col >:nth-child(3) {
        padding-right: 10px;
        padding-left: 0;
    }

    .cssc-is-responsive .fluid-grid.gri-five-col >:nth-child(4) ,
    .cssc-is-responsive .fluid-grid.gri-five-col >:nth-child(2) ,
    .cssc-is-responsive .fluid-grid.gri-four-col >:nth-child(2) ,
    .cssc-is-responsive .fluid-grid.gri-three-col >:nth-child(2) {
        padding-right: 0;
        padding-left: 10px;
    }
}

@media(max-width:520px) {
    .cssc-is-responsive .fluid-grid.gri-five-col > *,
    .cssc-is-responsive .fluid-grid.gri-four-col > *,
    .cssc-is-responsive .fluid-grid.gri-three-col > * {
        display: block;
        width: 100%;
        padding: 0;
    }
}