@charset "UTF-8";

/*
Name: Push
URL: http://github.com/Darklg/CSSCommon
Version: 1.0.7
License: MIT
*/

/* ----------------------------------------------------------
   Push
   ------------------------------------------------------- */

.cssc-push {
    display: inline-block;
    position: relative;
    *display: inline;
    *zoom: 1;
}

.cssc-push,
.cssc-push .background {
    overflow: hidden;
    background: transparent no-repeat top left;
}

.cssc-push .before,
.cssc-push .after,
.cssc-push .background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    direction: ltr;
    text-align: left;
    text-indent: -9999px;
}

.cssc-push .after,
.cssc-push .background,
.cssc-push .before {
    -webkit-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
}

.cssc-push .background,
.cssc-push .after,
.cssc-push:focus .before,
.cssc-push:hover .before {
    opacity: 0.0;
    filter: alpha(opacity=0);
}

.cssc-push .before,
.cssc-push:focus .after,
.cssc-push:focus .background,
.cssc-push:hover .after,
.cssc-push:hover .background {
    opacity: 1;
    filter: alpha(opacity=100);
}