@charset "UTF-8";
/*
Name: Tables
URL: http://github.com/Darklg/CSSCommon
Version: 1.1.1
License: MIT
*/

.cssc-table {
    width: 100%;
}

.cssc-table,
.cssc-table tr,
.cssc-table td,
.cssc-table th {
    border-collapse: collapse;
    vertical-align: middle;
}

.cssc-table td,
.cssc-table th {
    padding: 5px;
    font-size: 12px;
}

.cssc-table td {
    text-align: left;
}

.cssc-table th {
    text-align: center;
    font-weight: bold;
}

/* --------------------------
    Thème du tableau
   ----------------------- */

.cssc-table {
    color: #333;
    background: #fff;
}

.cssc-table,
.cssc-table tr,
.cssc-table td,
.cssc-table th {
    border: 1px solid #ccc;
}

.cssc-table tr:hover {
    color: #000;
    background: #fafafa;
}

.cssc-table th {
    background: #f0f0f0;
}