@charset "UTF-8";

/*
Name: Layouts de page
URL: http://github.com/Darklg/CSSCommon
Version: 1.9
License: MIT
*/

/* ----------------------------------------------------------
  Containers
---------------------------------------------------------- */

/* Dimensions
-------------------------- */

.centered-container {
    padding: 0 10px;
    min-width: 960px;
}

.centered-container > * {
    max-width: 940px;
}

/* Core
-------------------------- */

/* Container centré */

.centered-container {
    z-index: 1;
    clear: both;
    position: relative;
    text-align: center;
}

.cssc-is-responsive .centered-container {
    min-width: 0;
}

/* Contenu flottant */

.centered-container > * {
    margin: 0 auto;
    text-align: left;
}

.cssc-is-responsive .centered-container > * {
    width: auto;
}

.centered-container .cc-full {
    width: auto;
    max-width: none;
}

.centered-container .cc-full-bg,
.centered-container .cc-full-image {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent repeat top center;
}

/* Full image is a separate background with a cover image for animating or effects */

.centered-container .cc-full-image {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

/* Needed to be over a cc-full-image/bg background */

.centered-container .cc-content {
    z-index: 2;
    position: relative;
}

/* ----------------------------------------------------------
  Base des layouts
---------------------------------------------------------- */

.cssc-lay {
    display: table;
    clear: both;
    width: 100%;
    table-layout: fixed;
}

.cssc-lay > * {
    display: table-cell;
    vertical-align: top;
}

.lt_ie8 .cssc-lay {
    display: block;
}

.lt_ie8 .cssc-lay > * {
    display: block;
    float: left;
}

.cssc-lay > .col-main {
    width: auto;
}

/* Base de style */

.cssc-lay > .col-side {
    width: 220px;
}

.lt_ie8 .cssc-lay > .col-main {
    width: 720px;
}

/* Wide layout d'exemple */

.clay-wide > .col-side {
    width: 300px;
}

.lt_ie8 .clay-wide > .col-main {
    width: 640px;
}

/* Responsive Layout */

.clay-resp {
    max-width: 940px;
}

.lt_ie9 .clay-resp {
    min-width: 800px;
}

.clay-resp > .col-side {
    width: 220px;
}

@media all and (max-width:600px) {
    .cssc-is-responsive .clay-resp {
        display: block;
        width: auto;
    }

    .cssc-is-responsive .clay-resp > .col-side,
    .cssc-is-responsive .clay-resp > .col-main {
        display: block;
        width: auto;
    }

    .cssc-is-responsive .clay-resp > .col-side .liste-widgets > * {
        display: inline-block;
        width: 48%;
    }

    .cssc-is-responsive .clay-resp > .col-side .liste-widgets >:nth-child(even) {
        margin-left: 2%;
    }
}

@media all and (max-width:400px) {
    .cssc-is-responsive .clay-resp > .col-side .liste-widgets > * {
        display: block;
    }

    .cssc-is-responsive .clay-resp > .col-side .liste-widgets >:nth-child(even) {
        margin-left: 0;
    }
}

/* ----------------------------------------------------------
  Visibilité selon le terminal utilisé
---------------------------------------------------------- */

.lt_ie9 .hidden-on-full,
.lt_ie9 .visible-only-tablet,
.lt_ie9 .visible-only-phone {
    display: none;
}

@media(min-width:861px) {
    .hidden-on-full,
    .visible-only-tablet,
    .visible-only-phone {
        display: none;
    }
}

@media(max-width:860px) and (min-width:521px) {
    .hidden-on-tablet,
    .visible-only-full,
    .visible-only-phone {
        display: none;
    }
}

@media(max-width:520px) {
    .hidden-on-phone,
    .visible-only-full,
    .visible-only-tablet {
        display: none;
    }
}