@charset "UTF-8";

/*
Name: Effects
URL: http://github.com/Darklg/CSSCommon
Version: 0.4
License: MIT
*/

/* ----------------------------------------------------------
  Hover effects
---------------------------------------------------------- */

/* Inverted hover
-------------------------- */

.cssc-inverted-hover:hover a:hover,
.cssc-inverted-hover a {
    color: #369;
}

.cssc-inverted-hover:hover a {
    color: #999;
}

/* Inverted hover on images
-------------------------- */

.cssc-inverted-hover--images:hover a:hover img,
.cssc-inverted-hover--images a img {
    opacity: 0.999;
    filter: alpha(opacity=99);
}

.cssc-inverted-hover--images:hover a img {
    opacity: 0.30;
    filter: alpha(opacity=30);
}

/* ----------------------------------------------------------
  General effects
---------------------------------------------------------- */

/* Parallax
-------------------------- */

.cssc-parallax {
    text-align: center;
    background: transparent no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

/* Theme */

.cssc-parallax {
    height: 100px;
    background-image: url(../images/wide-image.jpg);
}

/* Demo */

.cssc-parallax {
    margin: 50px 0;
    text-shadow: -2px -2px 0 rgba(0,0,0,0.3);
    font-size: 30px;
    line-height: 100px;
    color: #fff;
    opacity: 0.999;
}

/* ----------------------------------------------------------
  Load effects
---------------------------------------------------------- */

/* Appear on load
-------------------------- */

.cssc-effects-appear-me,
.cssc-effects-appear .animate-me {
    opacity: 0;
    -webkit-animation: cssc-effects-appear forwards 0.75s 1 ease;
    -moz-animation: cssc-effects-appear forwards 0.75s 1 ease;
    -o-animation: cssc-effects-appear forwards 0.75s 1 ease;
}

.cssc-effects-appear .animate-me:nth-child(2n) {
    -webkit-animation-delay: 0.25s;
    -moz-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

.cssc-effects-appear .animate-me:nth-child(3n) {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.cssc-effects-appear .animate-me:nth-child(4n) {
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

/* Animation */

@-webkit-keyframes cssc-effects-appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes cssc-effects-appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes cssc-effects-appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Slide on load
-------------------------- */

.cssc-effects-slide {
    overflow: hidden;
}

.cssc-effects-slide-me,
.cssc-effects-slide .animate-me {
    opacity: 0;
    -webkit-animation: cssc-effects-slide forwards 0.75s 1 cubic-bezier(0.680,-0.550,0.265,1.550);
    -moz-animation: cssc-effects-slide forwards 0.75s 1 cubic-bezier(0.680,-0.550,0.265,1.550);
    -o-animation: cssc-effects-slide forwards 0.75s 1 cubic-bezier(0.680,-0.550,0.265,1.550);
    -webkit-transform: translateX(-1000px);
}

.cssc-effects-slide .animate-me:nth-child(2n) {
    -webkit-animation-delay: 0.05s;
    -moz-animation-delay: 0.05s;
    animation-delay: 0.05s;
}

.cssc-effects-slide .animate-me:nth-child(3n) {
    -webkit-animation-delay: 0.10s;
    -moz-animation-delay: 0.10s;
    animation-delay: 0.10s;
}

.cssc-effects-slide .animate-me:nth-child(4n) {
    -webkit-animation-delay: 0.15s;
    -moz-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

/* Animation */

@-webkit-keyframes cssc-effects-slide {
    from {
        opacity: 0;
        -webkit-transform: translateX(-1000px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes cssc-effects-slide {
    from {
        opacity: 0;
        -moz-transform: translateX(-1000px);
    }

    to {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@keyframes cssc-effects-slide {
    from {
        opacity: 0;
        transform: translateX(-1000px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}