@charset "UTF-8";

/*
Name: Tables
URL: http://github.com/Darklg/CSSCommon
Version: 1.3
License: MIT
*/

.cssc-table {
    width: 100%;
    margin-bottom: 20px;
}

.cssc-table,
.cssc-table tr,
.cssc-table td,
.cssc-table th {
    border-collapse: collapse;
    vertical-align: middle;
}

/* Default Theme
-------------------------- */

.cssc-table td,
.cssc-table th {
    padding: 10px;
    font-size: 12px;
    line-height: 1.3;
}

.cssc-table td {
    text-align: left;
}

.cssc-table th {
    text-align: left;
    font-weight: bold;
}

.cssc-table tr {
    border-bottom: 1px solid #e9e9e9;
}

.cssc-table thead tr {
    border-bottom: 1px solid #d0d0d0;
}

.cssc-table tbody tr:last-child {
    border-bottom: 0;
}

/* "Tight" Theme
-------------------------- */

.cssc-table-tight th,
.cssc-table-tight td {
    padding: 3px;
    line-height: 1.2;
}

/* Basic Theme
-------------------------- */

.cssc-table-basic {
    color: #333;
    background: #fff;
}

.cssc-table-basic,
.cssc-table-basic tr,
.cssc-table-basic td,
.cssc-table-basic th {
    border: 1px solid #d0d0d0;
}

.cssc-table-basic tbody tr,
.cssc-table-basic tbody td,
.cssc-table-basic tbody th {
    border: 1px solid #e0e0e0;
}

.cssc-table-basic tr:hover {
    color: #000;
    background: #fafafa;
}

.cssc-table-basic th {
    background: #f0f0f0;
}

/* ----------------------------------------------------------
  Utilities
---------------------------------------------------------- */

.cssc-table-bordered td + td {
    border-left: 1px solid #e9e9e9;
}

.cssc-table-bordered .content {
    z-index: 1;
    position: relative;
}

.cssc-table-bordered tr + tr td + td .content:before {
    content: '';
    z-index: 1;
    position: absolute;
    top: -20px;
    left: -20px;
    width: 20px;
    height: 20px;
    background-color: #fff;
}