@charset "UTF-8";

/*
Name: Effects
URL: http://github.com/Darklg/CSSCommon
Version: 0.6
License: MIT
*/

/* ----------------------------------------------------------
  General effects
---------------------------------------------------------- */

/* Parallax
-------------------------- */

.cssc-parallax {
    text-align: center;
    background: transparent no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

/* Theme */

.cssc-parallax {
    height: 100px;
    background-image: url(../images/wide-image.jpg);
}

/* Demo */

.cssc-parallax {
    margin: 50px 0;
    text-shadow: -2px -2px 0 rgba(0,0,0,0.3);
    font-size: 30px;
    line-height: 100px;
    color: #fff;
    opacity: 0.999;
}

/* ----------------------------------------------------------
  Load effects
---------------------------------------------------------- */

/* Appear on load
-------------------------- */

.cssc-effects-appear-me,
.cssc-effects-appear .animate-me {
    opacity: 0;
    -webkit-animation: cssc-effects-appear forwards 0.75s 1 ease;
    -moz-animation: cssc-effects-appear forwards 0.75s 1 ease;
    -o-animation: cssc-effects-appear forwards 0.75s 1 ease;
}

.cssc-effects-appear .animate-me:nth-child(2n) {
    -webkit-animation-delay: 0.25s;
    -moz-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

.cssc-effects-appear .animate-me:nth-child(3n) {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.cssc-effects-appear .animate-me:nth-child(4n) {
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

/* Animation */

@-webkit-keyframes cssc-effects-appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes cssc-effects-appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes cssc-effects-appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Slide on load
-------------------------- */

.cssc-effects-slide {
    overflow: hidden;
}

.cssc-effects-slide-me,
.cssc-effects-slide .animate-me {
    opacity: 0;
    -webkit-animation: cssc-effects-slide forwards 0.75s 1 cubic-bezier(0.680,-0.550,0.265,1.550);
    -moz-animation: cssc-effects-slide forwards 0.75s 1 cubic-bezier(0.680,-0.550,0.265,1.550);
    -o-animation: cssc-effects-slide forwards 0.75s 1 cubic-bezier(0.680,-0.550,0.265,1.550);
    -webkit-transform: translateX(-1000px);
}

.cssc-effects-slide .animate-me:nth-child(2n) {
    -webkit-animation-delay: 0.05s;
    -moz-animation-delay: 0.05s;
    animation-delay: 0.05s;
}

.cssc-effects-slide .animate-me:nth-child(3n) {
    -webkit-animation-delay: 0.10s;
    -moz-animation-delay: 0.10s;
    animation-delay: 0.10s;
}

.cssc-effects-slide .animate-me:nth-child(4n) {
    -webkit-animation-delay: 0.15s;
    -moz-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

/* Animation */

@-webkit-keyframes cssc-effects-slide {
    from {
        opacity: 0;
        -webkit-transform: translateX(-1000px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes cssc-effects-slide {
    from {
        opacity: 0;
        -moz-transform: translateX(-1000px);
    }

    to {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@keyframes cssc-effects-slide {
    from {
        opacity: 0;
        transform: translateX(-1000px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* ----------------------------------------------------------
  Hover effects
---------------------------------------------------------- */

/* Inverted hover
-------------------------- */

.cssc-inverted-hover:hover a:hover,
.cssc-inverted-hover a {
    color: #369;
}

.cssc-inverted-hover:hover a {
    color: #999;
}

/* Inverted hover on images
-------------------------- */

.cssc-inverted-hover--images:hover a:hover img,
.cssc-inverted-hover--images a img {
    opacity: 0.999;
    filter: alpha(opacity=99);
}

.cssc-inverted-hover--images:hover a img {
    opacity: 0.30;
    filter: alpha(opacity=30);
}

/* Colorized hover
-------------------------- */

.cssc-colorized-hover .animate-me {
    display: inline-block;
    z-index: 1;
    position: relative;
    line-height: 1;
    vertical-align: middle;
    *zoom: 1;
    *display: inline;
}

.cssc-colorized-hover .animate-me img,
.cssc-colorized-hover .animate-me img {
    opacity: 0.999;
    filter: alpha(opacity=999);
}

.cssc-colorized-hover .animate-me .color {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.0;
    filter: alpha(opacity=0);
}

.cssc-colorized-hover .animate-me .gray {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogPGZpbHRlciBpZD0iZ3JheXNjYWxlIj4KICA8ZmVDb2xvck1hdHJpeCB0eXBlPSJtYXRyaXgiIHZhbHVlcz0iMC4zMzMzIDAuMzMzMyAwLjMzMzMgMCAwIDAuMzMzMyAwLjMzMzMgMC4zMzMzIDAgMCAwLjMzMzMgMC4zMzMzIDAuMzMzMyAwIDAgMCAwIDAgMSAwIi8+CiA8L2ZpbHRlcj4KPC9zdmc+#grayscale);
}

.cssc-colorized-hover .animate-me:hover .color {
    opacity: 0.999;
    filter: alpha(opacity=99);
}

/* Rotating cards
-------------------------- */

.cssc-card {
    display: inline-block;
    z-index: 1;
    position: relative;
    vertical-align: middle;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    transform: translatez(0);
    -webkit-perspective: 500px;
    perspective: 500px;
    *display: inline;
    *zoom: 1;
}

.cssc-card .front,
.cssc-card .back {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    -webkit-transition: -webkit-transform 0.3s ease;
    -moz-transition: -moz-transform 0.3s ease;
    transition: transform 0.3s ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.cssc-card .back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.cssc-card .front,
.cssc-card:hover .back {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
}

.cssc-card:hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/* Theme */

.cssc-card {
    width: 100px;
    height: 100px;
}

.cssc-card .front {
    background-color: #ccc;
}

.cssc-card .back {
    padding: 10px;
    font-size: 12px;
    line-height: 1.3;
    color: #000;
    background-color: #f0f0f0;
}