@charset "UTF-8";

/*
Name: Debug
URL: http://github.com/Darklg/CSSCommon
Description: A stylesheet which will highlight HTML errors.
Version: 0.4
License: MIT
*/

/* ----------------------------------------------------------
  Design
---------------------------------------------------------- */

/* Check alignement
 * Via @Sutterlity
-------------------------- */

body * {
    background-color: rgba(0,0,0,.02);
}

/* ----------------------------------------------------------
  Missing or bad properties
---------------------------------------------------------- */

/* Missing or invalid href
-------------------------- */

a[href=""],
a[href^="javascript"],
a:not([href]) {
    outline: 3px dashed red!important;
}

/* Forms
-------------------------- */

label:not([for]),
input:not([type]),
form:not([action]),
form:not([method]),
form[method=""],
textarea:not([cols]),
textarea:not([rows]),
form button:not([type]) {
    outline: 3px dashed red!important;
}

/* Images
-------------------------- */

img:not([alt]) {
    outline: 3px dashed red!important;
}

/* Empty attributes
-------------------------- */

[id=""],
[class=""],
[name=""],
[for=""] {
    outline: 3px dashed red!important;
}

/* ----------------------------------------------------------
  Invalid HTML
---------------------------------------------------------- */

/* Invalid child
-------------------------- */

a > a,
button > input,
button > select,
button > textarea,
button > label,
button > button,
button > form,
button > fieldset,
button > iframe,
label > label,
form > form,
dl > *,
form > form,
form > input,
form > textarea,
form > button,
tbody > *,
ol > *,
ul > * {
    outline: 3px dashed red!important;
}

tbody > tr,
ol > li,
ul > li,
dl > dd,
dl > dt {
    outline: 0;
}

/* Invalid order
-------------------------- */

tbody + tfoot td {
    background-color: red!important;
}

/* ----------------------------------------------------------
  Deprecated elements
---------------------------------------------------------- */

applet, acronym, center, dir, font, strike, big, tt, marquee, hgroup, plaintext, xmp {
    outline: 3px dashed yellow!important;
}

/* ----------------------------------------------------------
  Deprecated attributes
---------------------------------------------------------- */

[background], [bgcolor], [onblur], [onchange], [onclick], [onclick],
[ondblclick], [onfocus], [onkeydown], [onkeypress], [onkeyup],
[onload], [onmousedown], [onmousemove], [onmouseout], [onmouseover],
[onmouseover], [onmouseup], [onreset], [onselect], [onsubmit], [onunload] {
    outline: 3px dashed yellow!important;
}

/* ----------------------------------------------------------
  Empty elements
---------------------------------------------------------- */

section:empty,
form:empty,
span:empty,
div:empty {
    display: block!important;
    position: static!important;
    padding: 10px!important;
    background-color: yellow!important;
}

/*
Thanks to :
* http://www.smashingmagazine.com/2013/08/20/semantic-css-with-intelligent-selectors/
* http://meyerweb.com/eric/tools/css/diagnostics/
* http://red-root.com/sandbox/holmes/
* http://www.nealgrosskopf.com/tech/thread.php?pid=17
*/

