@charset "UTF-8";

/*
Name: Style de démo
URL: http://github.com/Darklg/CSSCommon
Version: 1.1.12
License: MIT
*/

/* ----------------------------------------------------------
   Contenu
   ------------------------------------------------------- */

.fork_me {
    visibility: visible;
    z-index: 9;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.99;
}

@media(max-width:980px) {
    .fork_me {
        visibility: hidden;
        opacity: 0;
    }
}

#header {
    padding-top: 10px;
}

.cssc-is-responsive #header {
    padding: 20px 20px 10px 20px;
}

.container-about {
    margin: 15px 0;
    padding: 15px 0;
    border: 1px solid #d5d5d5;
    border-width: 1px 0;
    background-color: #f5f5f5;
}

.container-about h2 {
    margin-top: 0;
}

.container-about .cssc-button {
    text-transform: none;
}

.container-about .le-content {
    padding-bottom: 20px;
}

.block-content + .block-content {
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid #f0f0f0;
}

.block-content:last-child {
    padding-bottom: 50px;
}

/* ----------------------------------------------------------
   Push
   ------------------------------------------------------- */

#bc-grid .cssc-grid p {
    margin-bottom: 20px;
}

.block-content-push .cssc-grid {
    margin-bottom: 20px;
}

.block-content-push pre {
    margin-bottom: 8px;
}

/* Exemple de push */

.push-double,
.push-simple {
    width: 300px;
    height: 100px;
}

.push-double .before,
.push-simple {
    background-image: url(../images/300x100-black.png);
}

.push-double .after,
.push-simple .after {
    background-image: url(../images/300x100-grey.png);
}

/* ----------------------------------------------------------
   Formulaires
   ------------------------------------------------------- */

.cssc-form {
    max-width: 450px;
}

/* ----------------------------------------------------------
   Divers
   ------------------------------------------------------- */

.demo-ir {
    width: 300px;
    height: 60px;
    background-image: url(../images/300x60-blue.gif);
}

/* ----------------------------------------------------------
   Block Content : fichier utilisé
   ------------------------------------------------------- */

.bkch-aside {
    float: right;
    font-size: 12px;
}

/* ----------------------------------------------------------
   Fixed footer // Technique inspirée de @Nalao
   ------------------------------------------------------- */

body {
    padding-bottom: 30px;
}

.fixed-footer {
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #000;
    background: rgba(0,0,0,0.8);
}

.fixed-footer ul {
    width: 960px;
    margin: 0 auto;
    max-width: 100%;
}

.cssc-is-responsive .fixed-footer ul {
    width: auto;
    max-width: 960px;
}

.fixed-footer li {
    display: inline-block;
    margin: 0 8px;
    *display: inline;
    *zoom: 1;
}

.fixed-footer li a {
    display: inline-block;
    zoom: 1;
    line-height: 30px;
    color: #fff;
    *display: inline;
}

/* ----------------------------------------------------------
   Layouts
   ------------------------------------------------------- */

.liste-widgets {
    overflow: hidden;
}

.liste-widgets > li + li {
    padding-top: 10px;
}

/* Couleurs pour le Debug */

.cssc-lay {
    background-color: #d0d0d0;
}

.cssc-lay > .col-main {
    background-color: #e0e0e0;
}

.cssc-lay > .col-side {
    background-color: #f0f0f0;
}