@charset "UTF-8";

/*
Name: Style de démo
URL: http://github.com/Darklg/CSSNormalize
Version: 1.1
*/

/* ----------------------------------------------------------
   Contenu
   ------------------------------------------------------- */

#fork_me {
    position: absolute;
    top: 0;
    right: 0;
}

#header {
    padding-top: 10px;
}

.cssn-is-responsive #header {
    padding: 20px 20px 10px 20px;
}

.container-about {
    margin: 15px 0;
    padding: 15px 0;
    border: 1px solid #d5d5d5;
    border-width: 1px 0;
    background-color: #f5f5f5;
}

.container-about h2 {
    margin-top: 0;
}

.block-content + .block-content {
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid #f0f0f0;
}

/* ----------------------------------------------------------
   Push
   ------------------------------------------------------- */

.block-normalize-push .the_grid {
    margin-bottom: 10px;
}

.block-normalize-push pre {
    margin-bottom: 8px;
}

/* Exemple de push */

.push_double,
.push_simple {
    width: 300px;
    height: 100px;
}

.push_double .before,
.push_simple {
    background-image: url(../images/300x100-black.png);
}

.push_double .after,
.push_simple .after {
    background-image: url(../images/300x100-grey.png);
}

/* ----------------------------------------------------------
   Formulaires
   ------------------------------------------------------- */

.cssn_form {
    max-width: 450px;
}

/* ----------------------------------------------------------
   Divers
   ------------------------------------------------------- */

.demo-ir {
    width: 100px;
    height: 100px;
    background-image: url(../images/100x100-black.png);
}

/* ----------------------------------------------------------
   Fixed footer // Technique inspirée de @Nalao
   ------------------------------------------------------- */

body {
    padding-bottom: 30px;
}

.fixed-footer {
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #000;
    background: rgba(0,0,0,0.8);
}

.fixed-footer ul {
    width: 960px;
    margin: 0 auto;
}

.cssn-is-responsive .fixed-footer ul {
    width: auto;
    max-width: 960px;
}

.fixed-footer li {
    display: inline-block;
    margin: 0 8px;
    *display: inline;
    *zoom: 1;
}

.fixed-footer li a {
    display: inline-block;
    zoom: 1;
    line-height: 30px;
    color: #fff;
    *display: inline;
}