@charset "UTF-8";

/* 
Attention : Ne pas utiliser @import dans vos feuilles.
*/

/* Styles de base */
@import 'cssc-default.css?v=2.4.3';
@import 'cssc-common.css?v=1.7.1';
@import 'cssc-base.css?v=1.2.3';

/* Modules */
@import 'cssc-buttons.css?v=1.4.2';
@import 'cssc-forms.css?v=1.6.3';
@import 'cssc-tables.css?v=1.1.1';
@import 'cssc-grid.css?v=2.2.1';
@import 'cssc-messages.css?v=1.2.1';
@import 'cssc-push.css?v=1.0.7';
@import 'cssc-modeles.css?v=1.3.10';
@import 'cssc-layouts.css?v=1.5';
@import 'cssc-tabs.css?v=1.0.3';
@import 'cssc-print.css?v=1.0';

/* Style du site de démo */
@import 'demo.css?v=1.1.9';