@charset "UTF-8";

/* 
Attention : Ne pas utiliser @import dans vos feuilles.
 */

/* Styles de base */
@import 'reset.css?v=1.0.5';
@import 'normalize.css?v=1.4';
@import 'normalize-common.css?v=1.6.3';
@import 'normalize-base.css?v=1.2';

/* Modules */
@import 'normalize-buttons.css?v=1.3';
@import 'normalize-forms.css?v=1.4';
@import 'normalize-tables.css?v=1.1';
@import 'normalize-grid.css?v=2.0';
@import 'normalize-messages.css?v=1.2';
@import 'normalize-push.css?v=1.0.5';
@import 'normalize-modeles.css?v=1.3.7';
@import 'normalize-layouts.css?v=1.4';
@import 'normalize-tabs.css?v=1.0';

/* Style du site de démo */
@import 'demo.css?v=1.1.2';