@charset "UTF-8";
/*
Version: 1.0
*/

/* ----------------------------------------------------------
   Style du code
   ------------------------------------------------------- */

pre,
code,
kbd,
samp {
	padding:2px;
	border:1px solid #ccc;
	font:12px 'Lucida Console',Monospace;
	color:#676767;
	background:#f0f0f0;
}
