@charset "UTF-8";

/*
Name: Push
URL: http://github.com/Darklg/CSSNormalize
Version: 1.0.5
*/

/* ----------------------------------------------------------
   Push
   ------------------------------------------------------- */

.le_push {
    display: inline-block;
    position: relative;
    *display: inline;
    *zoom: 1;
}

.le_push,
.le_push .background {
    overflow: hidden;
    background: transparent no-repeat top left;
}

.le_push .before,
.le_push .after,
.le_push .background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    text-indent: -9999px;
}

.le_push .after,
.le_push .background,
.le_push .before {
    -webkit-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
}

.le_push .background,
.le_push .after,
.le_push:focus .before,
.le_push:hover .before {
    opacity: 0.0;
    filter: alpha(opacity=0);
}

.le_push .before,
.le_push:focus .after,
.le_push:focus .background,
.le_push:hover .after,
.le_push:hover .background {
    opacity: 1;
    filter: alpha(opacity=100);
}