@charset "UTF-8";

/* ----------------------------------------------------------
   Messages d'interaction
   ------------------------------------------------------- */


.cssn_message {
	display:block;
	margin-bottom:5px;
	padding:7px;
	border:1px solid #ccc;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	color:#333;
	background:#fff;
	-webkit-background-clip:padding-box;
}

.cssn_message.error {
	border-color:#C66;
	color:#800;
	background-color:#FEE;
}

.cssn_message.notice {
	border-color:#66C;
	color:#008;
	background-color:#EEF;
}

.cssn_message.success {
	border-color:#6C6;
	color:#080;
	background-color:#EFE;
}

.cssn_message.warning {
	border-color:#CC6;
	color:#880;
	background-color:#FFE;
}