@charset "UTF-8";
/*
Name: Grids
URL: http://github.com/Darklg/CSSNormalize
Version: 1.1
*/

/* Grille principale */

.the_grid {
	clear:both;
	overflow:hidden;
}

.the_grid > * {
	float:left;
	zoom:1;
	overflow:hidden;
}

.the_grid:after {
	content:" ";
}

.the_grid:after,
.clearfix {
	display:block;
	visibility:hidden;
	visibility:hidden;
	clear:both;
	width:100%;
	height:1px;
	line-height:0;
}

/* IE 7 */

.clearfix {
	margin:0;
	padding:0;
	border:0;
}


/* Formats basiques de grilles */
/* ( Eviter les nouvelles balises de HTML 5 pour IE ) */

.the_grid.col-20 > * + * {
	margin-left:20px;
}

.col-620 {
	width:620px;
}

.col-300 {
	width:300px;
}

.the_grid.gri-1-2 > * + *,
.the_grid.gri-2-1 > *:first-child {
	width:66.6%;
}

.the_grid.gri-1-2 > *:first-child,
.the_grid.gri-2-1 > * + * {
	width:33.3%;
}

.the_grid.gri-1-1 > * {
	width:50%;
}
