@charset "UTF-8";
/*
Name: Code Style
URL: http://github.com/Darklg/CSSNormalize
Version: 1.1
*/

/* ----------------------------------------------------------
   Style du code
   ------------------------------------------------------- */

pre,
code,
kbd,
samp {
    padding: 2px;
    border: 1px solid #ccc;
    font: 12px 'Lucida Console',Monospace;
    color: #676767;
    background: #f0f0f0;
}

code {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

pre {
    margin-bottom: 12px;
}