@charset "UTF-8";
/*
Version: 1.1
*/

/* ----------------------------------------------------------
   Boutons par défaut
   ------------------------------------------------------- */

.le-button {
	margin:0;
	padding:0;
	border:0;
	vertical-align:middle;
	background:#fff;
	-webkit-user-select:none;
	-moz-user-select:-moz-none;
	user-select:none;
	-webkit-user-drag:none;
	-moz-user-drag:-moz-none;
	user-drag:none;
}

.le-button > span {
	height:25px;
	padding:0 5px;
	border:1px solid #ccc;
	text-transform:uppercase;
	font-size:12px;
	line-height:25px;
	white-space:nowrap;
	-webkit-transition:background 0.3s ease;
	-moz-transition:background 0.3s ease;
	-o-transition:background 0.3s ease;
	transition:background 0.3s ease;
	color:#333;
}

.le-button,
.le-button > span {
	display:inline-block;
	zoom:1;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-background-clip:padding-box;
	*display:inline;
}

.le-button > span:hover {
	border-color:#999;
	background:#e0e0e0;
}

/* ----------------------------------------------------------
   Bouton image
   ------------------------------------------------------- */

/* Reset */

.le_btn {
	margin:0;
	padding:0;
	border:0;
	outline:0;
}

/* Effets */

.le_btn {
	overflow:hidden;
	text-indent:-9999px;
	text-align:left;
	-moz-transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

/* :Hover */

.le_btn:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity:0.50;
}