@charset "UTF-8";

/*
Name: Common Objects
URL: http://github.com/Darklg/CSSNormalize
Version: 1.6
*/

/* ----------------------------------------------------------
   Images masquées (Pour push, etc)
   ------------------------------------------------------- */

.le_btn,
.ir {
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-align: left;
    text-indent: -9999px;
    white-space: nowrap;
    *text-indent: 0;
    *color: transparent;
    *font-size: 1px;
    *line-height: 0;
    *display: inline;
    *zoom: 1;
}

/* ----------------------------------------------------------
   Bouton image
   ------------------------------------------------------- */

/* Reset */

.le_btn {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

/* Effets */

.le_btn {
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

/* :Hover */

.le_btn:focus,
.le_btn:hover {
    opacity: 0.50;
    filter: alpha(opacity=50);
}

/* ----------------------------------------------------------
   "..." automatique à la fin d'une ligne
   ------------------------------------------------------- */

.non_depassement {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* ----------------------------------------------------------
   Suppression d'élément
   ------------------------------------------------------- */

.suppression_element {
    position: absolute;
    top: -9999px;
    left: -9999px;
    font-size: 1px;
    color: transparent;
}

/* ----------------------------------------------------------
   Objet Tiroir
   ------------------------------------------------------- */

.wdrw {
    position: relative;
}

.wdrw > a {
    display: block;
    height: 100%;
    line-height: inherit;
}

.wdrw .submenu {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    line-height: 1;
    opacity: 0;
    background-color: #fff;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.wdrw .submenu-r {
    right: 0;
    left: auto;
}

.wdrw > a:focus + .submenu,
.wdrw:hover .submenu {
    visibility: visible;
    z-index: 999;
    opacity: 1;
}

/* ----------------------------------------------------------
   Block Media : Bloc avec flottant
   From @Stubbornella : http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
   ------------------------------------------------------- */

.bmedia,
.bmedia-right,
.bm-cont {
    display: block;
    zoom: 1;
    overflow: hidden;
    _overflow: visible;
}

.bmedia >:first-child {
    float: left;
    margin-right: 10px;
}

.bmedia-right >:first-child {
    float: right;
    margin-left: 10px;
}

/* ----------------------------------------------------------
   Barre d'avancement
   ------------------------------------------------------- */

.lvl-barre {
    display: inline-block;
    position: relative;
    margin: 3px;
    vertical-align: middle;
    *display: inline;
    *zoom: 1;
}

.lvl-barre .bar,
.lvl-barre:before {
    position: absolute;
}

.lvl-barre:before {
    content: '';
    z-index: 9;
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px;
    border: 3px solid #ccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.lvl-barre .bar {
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    max-width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0) no-repeat 0 0;
    background-image: -moz-linear-gradient(top,rgba(0,0,0,0), rgba(0,0,0,0.2) );
    background-image: -o-linear-gradient(top,rgba(0,0,0,0), rgba(0,0,0,0.2) );
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(0,0,0,0) ),color-stop(1,rgba(0,0,0,0.2) ));
    background-image: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2) );
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2) );
    -webkit-background-clip: border;
    -moz-background-clip: border;
    background-clip: border;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
}

/* Style démo */

.lvl-barre {
    width: 100px;
    height: 15px;
}

.lvl-barre:before {
    border-color: #F0F0F0;
}

.lvl-barre .bar {
    background-color: red;
}

/* ----------------------------------------------------------
   Style du code
   ------------------------------------------------------- */

pre,
code,
kbd,
samp {
    padding: 2px;
    border: 1px solid #ccc;
    font: 11px/16px 'Lucida Console',Monospace;
    color: #676767;
    background: #f0f0f0;
}

pre:hover,
code:hover,
kbd:hover,
samp:hover {
    border: 1px solid #d0d0d0;
    color: #000;
    background-color: #fff;
}

code {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

pre {
    margin-bottom: 12px;
}

/* ----------------------------------------------------------
   Gallery
   ------------------------------------------------------- */

/* Peut se merger avec le clear de grid */

.subfloat:after {
    content: " ";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
}

.subfloat {
    position: relative;
}

.subfloat > * {
    float: left;
}

/* margin-right = 0-marge droite d'un élément */

.sf_100_20 {
    margin-right: -20px;
}

.sf_100_20 > * {
    width: 100px;
    margin: 0 20px 20px 0;
}