@charset "UTF-8";
/*
Version: 1.0.2
*/

/* ----------------------------------------------------------
   Fixed footer // Technique inspirée de @Nalao
   ------------------------------------------------------- */

body {
	padding-bottom:30px;
}

.fixed-footer {
	z-index:10;
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	height:30px;
	background:#000;
	background:rgba(0,0,0,0.8);
}

.fixed-footer ul {
	width:940px;
	margin:0 auto;
}

.fixed-footer li {
	float:left;
	margin-right:15px;
}

.fixed-footer li a {
	display:inline-block;*display:inline;zoom:1;
	line-height:30px;
	color:#fff;
}

/* ----------------------------------------------------------
   Images masquées (Pour push, etc)
   ------------------------------------------------------- */

.image_masquee {
	display:inline-block;*display:inline;zoom:1;
	overflow:hidden;
	text-align:left;
	white-space:nowrap;
	text-indent:-9999px;
}
