@charset "UTF-8";

/*
Name: Normalize
URL: http://github.com/Darklg/CSSNormalize
Version: 1.3.4
*/

/* ----------------------------------------------------------
   Règlages de base
   ------------------------------------------------------- */

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
}

.lt_ie7 body {
    height: 100%;
}

/* Prevents sub and sup affecting line-height in all browsers | gist.github.com/413930 */
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}

/* bicubic resizing for non-native sized IMG | code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.lt_ie8 img { -ms-interpolation-mode: bicubic; }
/* Aligne les images inline sur le texte */
img,input[type=image]{vertical-align:bottom;}
/* Curseur adéquat pour les boutons */
input[type="submit"],input[type="image"],button{cursor:pointer;}

/* ----------------------------------------------------------
   Typo
   ------------------------------------------------------- */

body {
    font: 62.5%/1 sans-serif;
    color: #212121;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
    font-weight: bold;
    display: block;
}

h1, .h1 {
    font-size: 25px;
    line-height: 40px;
}

h2, .h2 {
    margin: 10px 0 5px 0;
    font-size: 20px;
    line-height: 30px;
}

h3, .h3 {
    margin: 5px 0;
    font-size: 15px;
    line-height: 20px;
}

h4, .h4 {
    margin: 5px 0;
    font-size: 13px;
    line-height: 18px;
}

p,
li {
    font-size: 12px;
    line-height: 16px;
}

/* ----------------------------------------------------------
   Structure
   ------------------------------------------------------- */

.le-content ul,
p {
    margin-bottom: 12px;
}

.le-content ul ul {
    margin-bottom: 0;
    padding-left: 12px;
}

.le-content ul:last-child,
p:last-child {
    margin-bottom: 0;
}

.le-content li {
    list-style: inside disc;
}

table {
    width: 100%;
}

/* ----------------------------------------------------------
   Liens
   ------------------------------------------------------- */

a {
    color: #69C;
}

/* l'ajout d'un id permet de ne pas avoir à re-styliser :hover si on change la couleur plus tard */
a:hover,
#main-container a:hover {
    color: #C96;
}

.aimginv {
    opacity: 0.70;
    filter: alpha(opacity=70);
}

/* L'opacité à .99 permet d'éviter un effet disgracieux sur chrome */
.aimginv:hover,
.aimg {
    opacity: 0.99;
    filter: alpha(opacity=99);
}

.aimg:hover,
a:hover img {
    opacity: 0.80;
    filter: alpha(opacity=80);
}

/* ----------------------------------------------------------
   Transitions
   ------------------------------------------------------- */

a {
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.aimg,
.aimginv,
a img {
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.traa {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}