@charset "UTF-8";
/*
Name: Push
URL: http://github.com/Darklg/CSSNormalize
Version: 1.0.3
*/

/* ----------------------------------------------------------
   Push
   ------------------------------------------------------- */

.le_push {
	display:inline-block;*display:inline;zoom:1;
	position:relative;
}

.le_push,
.le_push .background {
	background : transparent no-repeat top left;
	overflow:hidden;
}

.le_push .before,
.le_push .after,
.le_push .background {
	text-indent:-9999px;
	text-align:left;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
}

.le_push .after,
.le_push .background,
.le_push .before {
	-moz-transition: opacity 0.2s ease-in;
	-webkit-transition: opacity 0.2s ease-in;
	-o-transition: opacity 0.2s ease-in;
	transition: opacity 0.2s ease-in;
}

.le_push .background,
.le_push .after,
.le_push:focus .before,
.le_push:hover .before {
	-ms-filter: "alpha(opacity=0)"
	filter: alpha(opacity=0);
	opacity:0.0;
}


.le_push .before,
.le_push:focus .after,
.le_push:focus .background,
.le_push:hover .after,
.le_push:hover .background {
	-ms-filter: "alpha(opacity=100)"
	filter: alpha(opacity=100);
	opacity:1;
}

/* ----------------------------------------------------------
   Exemple de push
   ------------------------------------------------------- */

.push_double,
.push_simple {
	width:300px;
	height:100px;
}

.push_double .before,
.push_simple {
	background-image:url(../images/300x100-black.png);
}

.push_double .after,
.push_simple .after {
	background-image:url(../images/300x100-grey.png);
}

/* ----------------------------------------------------------
   Demo
   ------------------------------------------------------- */

.block-normalize-push .the_grid {
	margin-bottom:10px;
}

.block-normalize-push pre {
	margin-bottom:8px;
}