@charset "UTF-8";

/*
Name: Forms
URL: http://github.com/Darklg/CSSNormalize
Version: 1.4
License: MIT
*/

.cssn_form {
    clear: both;
}

.cssn_form .box {
    vertical-align: baseline;
}

.cssn_form:after,
.cssn_form .box:after {
    content: " ";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
}

/* Labels */

.float_form .box {
    position: relative;
    padding-left: 130px;
}

.cssn_form .fake-label,
.cssn_form label {
    padding-top: 4px;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    cursor: pointer;
}

.float_form .box .fake-label,
.float_form .box label {
    display: block;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    padding-right: 10px;
    text-align: right;
}

.float_form .box .long-label {
    top: -4px;
    padding-top: 0;
}

.block_form .box .fake-label,
.block_form .box label {
    display: block;
    padding-top: 0;
}

.block_form .box.radio-box label,
.block_form .box.checked-box label,
.float_form .box.radio-box label,
.float_form .box.checked-box label {
    display: inline-block;
    float: none;
    position: static;
    width: auto;
    padding: 5px 0 0 0;
    font-weight: normal;
    line-height: inherit;
}

/* Champs */

textarea {
    max-width: 100%;
    overflow: auto;
    resize: vertical;
}

input[type="submit"],
input[type="image"],
button {
    cursor: pointer;
}

.cssn_form input[type=radio],
.cssn_form input[type=checkbox] {
    width: 12px;
    height: 12px;
    margin: 0;
    vertical-align: middle;
}

/* Reset des éléments */

.inputreset,
.inputbase,
.cssn_form textarea,
.cssn_form .faux-input,
.cssn_form input[type=text],
.cssn_form input[type=url],
.cssn_form input[type=email],
.cssn_form input[type=password] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    vertical-align: middle;
    outline: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.cssn_form .faux-input {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.cssn_form .faux-input,
.cssn_form [disabled] {
    cursor: not-allowed;
}

/* Fix pour IE<8 */

.lt_ie8 .inputbase,
.lt_ie8 .inputreset,
.lt_ie8 .cssn_form textarea,
.lt_ie8 .cssn_form .faux-input,
.lt_ie8 .cssn_form input[type=text],
.lt_ie8 .cssn_form input[type=email],
.lt_ie8 .cssn_form input[type=password] {
    width: 90%;
}

/* Champs multiples */

.cssn_form .multibox-box input[type=text],
.cssn_form .multibox-box input[type=url],
.cssn_form .multibox-box input[type=email],
.cssn_form .multibox-box input[type=password] {
    width: 65px;
}

.cssn_form .multibox-box input.halfling {
    width: 45px;
}

/* Aide */

.cssn_form small {
    display: block;
    font-size: 11px;
    line-height: 16px;
    color: #676767;
}

/* Deux blocs */

.block_form .twoboxes {
    overflow: hidden;
}

.block_form .twoboxes li.box {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
}

.lt_ie8 .block_form .twoboxes li.box {
    width: 43%;
}

.block_form .twoboxes li.box:first-child {
    padding-right: 10px;
}

.block_form .twoboxes li.box + li.box {
    padding-left: 10px;
}

/* Style de la démo
   ----------------------- */

.cssn_form {
    padding: 10px 0;
    max-width: 100%;
}

/* Fieldset */

.cssn_form fieldset {
    padding: 10px 0;
    border-top: 1px solid #CCC;
}

.cssn_form fieldset:last-child {
    border-bottom: 1px solid #CCC;
}

.cssn_form legend {
    padding-right: 5px;
    font-size: 14px;
    font-weight: bold;
}

/* Box */

.cssn_form .box {
    padding-bottom: 10px;
}

.float_form .box {
    min-height: 25px;
}

/* Labels */

.block_form .box .fake-label,
.block_form .box label {
    line-height: 25px;
}

/* Champs */

.inputbase,
.cssn_form textarea,
.cssn_form .faux-input,
.cssn_form input[type=text],
.cssn_form input[type=url],
.cssn_form input[type=email],
.cssn_form input[type=password] {
    height: 25px;
    padding: 0 5px;
    border: 1px solid #999;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 12px;
    color: #333;
    background: #fafafa;
    -webkit-background-clip: padding-box;
    -webkit-box-shadow: inset 1px 1px 1px #ccc;
    -moz-box-shadow: inset 1px 1px 1px #ccc;
    box-shadow: inset 1px 1px 1px #ccc;
}

.cssn_form .faux-input,
.lt_ie9 .cssn_form input[type=text],
.lt_ie9 .cssn_form input[type=url],
.lt_ie9 .cssn_form input[type=email],
.lt_ie9 .cssn_form input[type=password] {
    line-height: 25px;
}

.cssn_form textarea {
    height: 80px;
    padding: 5px;
}

.cssn_form textarea:focus,
.cssn_form input[type=text]:focus,
.cssn_form input[type=url]:focus,
.cssn_form input[type=email]:focus,
.cssn_form input[type=password]:focus {
    border-color: #333;
    color: #000;
    background-color: #fff;
    -webkit-box-shadow: inset 1px 1px 1px #dedede,0 0 2px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 1px 1px 1px #dedede,0 0 2px rgba(0,0,0,0.3);
    box-shadow: inset 1px 1px 1px #dedede,0 0 2px rgba(0,0,0,0.3);
}

/* Couleurs de placeholder : ne pas fusionner les sélecteurs ! */

.cssn_form [disabled],
.cssn_form .faux-input {
    color: #A0A0A0;
}

::-webkit-input-placeholder {
    color: #A0A0A0;
}

:-moz-placeholder {
    color: #A0A0A0;
}

:-ms-placeholder {
    color: #A0A0A0;
}