@charset "UTF-8";
/*
Version: 1.1.1
*/

/* ----------------------------------------------------------
   Formulaires
   ------------------------------------------------------- */

.cssn_form {
	padding:10px 0;
}

.cssn_form .box {
	margin-bottom:10px;
	vertical-align:baseline;
}

.cssn_form:after,
.cssn_form .box:after {
	content:" ";
	display:block;
	visibility:hidden;
	clear:both;
	height:0;
}

/* Fieldset */

.cssn_form fieldset {
	padding:10px 0;
	border-top:1px solid #CCC;
}

.cssn_form fieldset:last-child {
	border-bottom:1px solid #CCC;
}

.cssn_form legend {
	padding-right:5px;
	font-size:14px;
	font-weight:bold;
}

/* Labels */

.cssn_form.float_form .box {
	position:relative;
	padding-left:100px;
	min-height:25px;
}

.cssn_form label {
	padding-top:4px;
	font-size:12px;
	line-height:16px;
	cursor:pointer;
}

.cssn_form.float_form .box label {
	display:block;
	float:left;
	position:absolute;
	top:0;
	left:0;
	width:90px;
	padding-right:10px;
	text-align:right;
}

.cssn_form.block_form .box label {
	display:block;
	padding-top:0;
	line-height:25px;
}

.cssn_form.block_form .box.radio-box label,
.cssn_form.block_form .box.checked-box label,
.cssn_form.float_form .box.radio-box label,
.cssn_form.float_form .box.checked-box label {
	display:inline-block;
	float:none;
	position:static;
	width:auto;
	padding:5px 0 0 0;
	line-height:inherit;
}

/* Champs */

textarea {
	max-width:100%;
	overflow:auto;
	resize:vertical;
}

input[type="submit"],
input[type="image"],
button {
	cursor:pointer;
}

.cssn_form input[type=radio],
.cssn_form input[type=checkbox] {
	width:12px;
	height:12px;
	margin:0;
	vertical-align:middle;
}

.cssn_form textarea,
.cssn_form .faux-input,
.cssn_form input[type=text],
.cssn_form input[type=url],
.cssn_form input[type=email],
.cssn_form input[type=password] {
	width:100%;
	border:1px solid #999;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	font-family:inherit;
	font-size:12px;
	vertical-align:middle;
	outline:0;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
	color:#333;
	background:#fafafa;
	-webkit-background-clip:padding-box;
	-webkit-box-shadow:inset 1px 1px 1px #ccc;
	-moz-box-shadow:inset 1px 1px 1px #ccc;
	box-shadow:inset 1px 1px 1px #ccc;
}

/* Fix pour IE<8 */

.lt_ie8 .cssn_form textarea,
.lt_ie8 .cssn_form .faux-input,
.lt_ie8 .cssn_form input[type=text],
.lt_ie8 .cssn_form input[type=email],
.lt_ie8 .cssn_form input[type=password] {
	width:90%;
}

.cssn_form .faux-input {
	display:inline-block;*display:inline;zoom:1;
	line-height:25px;
}

.cssn_form .faux-input,
.cssn_form [disabled] {
	color:#999;
	cursor:not-allowed;
}

.cssn_form textarea {
	padding:5px;
}

.cssn_form .faux-input,
.cssn_form input[type=text],
.cssn_form input[type=url],
.cssn_form input[type=email],
.cssn_form input[type=password] {
	height:25px;
	padding:0 5px;
	vertical-align:middle;
}

.lt_ie9 .cssn_form input[type=text],
.lt_ie9 .cssn_form input[type=url],
.lt_ie9 .cssn_form input[type=email],
.lt_ie9 .cssn_form input[type=password] {
	line-height:25px;
}

.cssn_form textarea:focus,
.cssn_form input[type=text]:focus,
.cssn_form input[type=url]:focus,
.cssn_form input[type=email]:focus,
.cssn_form input[type=password]:focus {
	border-color:#333;
	color:#000;
	background-color:#fff;
	-webkit-box-shadow:inset 1px 1px 1px #dedede,0 0 2px rgba(0,0,0,0.3);
	-moz-box-shadow:inset 1px 1px 1px #dedede,0 0 2px rgba(0,0,0,0.3);
	box-shadow:inset 1px 1px 1px #dedede,0 0 2px rgba(0,0,0,0.3);
}

/* Aide */

.cssn_form small {
	display:block;
	font-size:11px;
	line-height:16px;
	color:#676767;
}

/* Deux blocs */

.cssn_form.block_form .twoboxes {
	overflow:hidden;
}

.cssn_form.block_form .twoboxes li.box {
	float:left;
	width:50%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.lt_ie8 .cssn_form.block_form .twoboxes li.box {
	width:43%;
}

.cssn_form.block_form .twoboxes li.box:first-child {
	padding-right:10px;
}

.cssn_form.block_form .twoboxes li.box + li.box {
	padding-left:10px;
}

/* Style de la démo */

.cssn_form {
	width:450px;
}