@charset "UTF-8";

/*
Name: Layouts de page
URL: http://github.com/Darklg/CSSNormalize
Version: 1.2.3
*/

/* ----------------------------------------------------------
   Base des layouts
   ------------------------------------------------------- */

.cssn-lay {
    display: table;
    width: 940px;
    table-layout: fixed;
}

.lt_ie8 .cssn-lay {
    display: block;
}

/* Responsive uniquement pour les navigateurs supportés */
@media(min-width:1px) {
    .cssn-is-responsive .cssn-lay {
        width: auto;
        max-width: 940px;
    }
}

.cssn-lay > * {
    display: table-cell;
    vertical-align: top;
}

.lt_ie8 .cssn-lay > * {
    display: block;
    float: left;
}

/* Base de style */

.cssn-lay > * + * {
    padding-left: 20px;
}

.clay-resp > * + * {
    padding-left: 0;
}

.cssn-lay > .col-side {
    width: 200px;
}

.clay-resp > .col-side {
    width: 220px;
}

.cssn-lay > .col-main {
    width: 720px;
}

/* Wide layout d'exemple */

.clay-wide > .col-side {
    width: 300px;
}

.clay-wide > .col-main {
    width: 620px;
}

/* Responsive Layout */

@media all and (max-width:600px) {
    #bc-layouts {
        width: auto;
        padding: 10px;
    }
    
    .cssn-is-responsive .clay-resp {
        width: auto;
    }
    
    .cssn-is-responsive .clay-resp > .col-side,
    .cssn-is-responsive .clay-resp > .col-main {
        display: block;
        width: 100%;
    }
    
    .cssn-is-responsive .clay-resp > .col-side .liste-widgets > * {
        display: inline-block;
        width: 48%;
    }
    
    .cssn-is-responsive .clay-resp > .col-side .liste-widgets >:nth-child(even) {
        margin-left: 2%;
    }
    
    .cssn-is-responsive .cssn-lay > * + * {
        padding-left: 0;
    }
}

@media all and (max-width:400px) {
    .cssn-is-responsive .clay-resp > .col-side .liste-widgets > * {
        display: block;
    }
    
    .cssn-is-responsive .clay-resp > .col-side .liste-widgets >:nth-child(even) {
        margin-left: 0;
    }
}

/* Styles pour le debug */

.liste-widgets {
    overflow: hidden;
}

/* Couleurs pour le Debug */

.cssn-lay {
    background-color: #c0c0c0;
}

.cssn-lay > .col-main {
    background-color: #e0e0e0;
}

.cssn-lay > .col-side {
    background-color: #f0f0f0;
}