
/* =============================================================================
   Formulaires
   ========================================================================== */

.cssn_form {
	padding:10px 0;
}

.cssn_form .box {
	margin-bottom:10px;
	vertical-align:baseline;
}

.cssn_form:after,
.cssn_form .box:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/*
Fieldset
*/

.cssn_form fieldset {
	padding:10px 0;
	border-top:1px solid #CCC;
}

.cssn_form fieldset:last-child {
	border-bottom:1px solid #CCC;
}

.cssn_form legend {
	font-size:14px;
	font-weight:bold;
	padding-right:5px;
}

/*
Labels
*/

.cssn_form.float_form .box {
	padding-left:100px;
	position:relative;
	min-height:25px;
}

.cssn_form label {
	padding-top:7px;
	font-size:12px;
	line-height:16px;
}

.cssn_form.float_form .box label {
	display:block;
	float:left;
	width:90px;
	position:absolute;
	top:0;
	left:0;
	padding-right:10px;
	text-align:right;
}

.cssn_form.block_form .box label {
	display:block;
	line-height:25px;
	padding-top:0;
}

.cssn_form.block_form .box.radio-box label,
.cssn_form.block_form .box.checked-box label,
.cssn_form.float_form .box.radio-box label,
.cssn_form.float_form .box.checked-box label {
	position:static;
	display:inline-block;
	width:auto;
	float:none;
	padding:5px 0 0 0;
	line-height:inherit;
}

/*
Champs
*/

textarea {
	resize: vertical;
	max-width: 100%;
	overflow: auto
}

input[type="submit"],
input[type="image"],
button {
	cursor: pointer;
}

.cssn_form input[type=radio],
.cssn_form input[type=checkbox]{
	margin:0;
	vertical-align:middle;
	height:12px;
	width:12px;
}

.cssn_form textarea,
.cssn_form .faux-input,
.cssn_form input[type=text],
.cssn_form input[type=url],
.cssn_form input[type=email],
.cssn_form input[type=password] {
    color:#333;
    font-size:12px;
	font-family:inherit;
    background:#fafafa;
	vertical-align:middle;
	outline:0;
	width:200px;
    border:1px solid #999;
	-moz-border-radius : 2px;
	-webkit-border-radius : 2px;
	-webkit-background-clip: padding-box;
	border-radius : 2px;
    -moz-box-shadow:inset 1px 1px 1px #ccc;
    -webkit-box-shadow:inset 1px 1px 1px #ccc;
    box-shadow:inset 1px 1px 1px #ccc;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}


.cssn_form .faux-input {
	display:inline-block;*display:inline;zoom:1;
	line-height:25px;
}

.cssn_form .faux-input,
.cssn_form [disabled] {
	color:#999;
	cursor: not-allowed;
}

.cssn_form textarea {
	padding: 5px;
}

.cssn_form .faux-input,
.cssn_form input[type=text],
.cssn_form input[type=url],
.cssn_form input[type=email],
.cssn_form input[type=password] {
    height:25px;
    padding:0 5px;
    vertical-align:middle;
}

.lt_ie9 .cssn_form input[type=text],
.lt_ie9 .cssn_form input[type=url],
.lt_ie9 .cssn_form input[type=email],
.lt_ie9 .cssn_form input[type=password] {
	line-height:25px;
}

.cssn_form textarea:focus,
.cssn_form input[type=text]:focus,
.cssn_form input[type=url]:focus,
.cssn_form input[type=email]:focus,
.cssn_form input[type=password]:focus {
	-moz-box-shadow: inset 1px 1px 1px #dedede, 0 0 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 1px 1px 1px #dedede, 0 0 2px rgba(0,0,0,0.3);
	box-shadow: inset 1px 1px 1px #dedede, 0 0 2px rgba(0,0,0,0.3);
    color:#000;
    background-color:#fff;
    border-color:#333;
}

/*
Aide
*/

.cssn_form small {
	display:block;
	font-size:11px;
	color:#676767;
	line-height:16px;
}
