@charset "UTF-8";
/*
Name: Common Objects
URL: http://github.com/Darklg/CSSNormalize
Version: 1.1
*/

/* ----------------------------------------------------------
   Fixed footer // Technique inspirée de @Nalao
   ------------------------------------------------------- */

body {
	padding-bottom:30px;
}

.fixed-footer {
	z-index:10;
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	height:30px;
	background:#000;
	background:rgba(0,0,0,0.8);
}

.fixed-footer ul {
	width:940px;
	margin:0 auto;
}

.fixed-footer li {
	float:left;
	margin-right:15px;
}

.fixed-footer li a {
	display:inline-block;*display:inline;zoom:1;
	line-height:30px;
	color:#fff;
}

/* ----------------------------------------------------------
   Images masquées (Pour push, etc)
   ------------------------------------------------------- */

.le_btn,
.ir {
	position:relative;
	display:inline-block;
	overflow : hidden;
	text-indent:-9999px;
	text-align:left;
	white-space : nowrap;
	*text-indent:0;
	*color:transparent;
	*font-size:1px;
	*display:inline;
	*zoom:1;
}


/* ----------------------------------------------------------
   Bouton image
   ------------------------------------------------------- */

/* Reset */

.le_btn {
	margin:0;
	padding:0;
	border:0;
	outline:0;
}

/* Effets */

.le_btn {
	-moz-transition: opacity 0.3s ease;
	-webkit-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

/* :Hover */

.le_btn:focus,
.le_btn:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity:0.50;
}

/* ----------------------------------------------------------
   "..." automatique à la fin d'une ligne
   ------------------------------------------------------- */

.non_depassement {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}


/* ----------------------------------------------------------
   Suppression d'élément
   ------------------------------------------------------- */

.suppression_element {
	font-size:1px;
	color:transparent;
	position:absolute;
	top:-9999px;
	left:-9999px;
}