@charset "UTF-8";

/*
Name: Base
URL: http://github.com/Darklg/CSSNormalize
Version: 1.2.2
License: MIT
*/

/* ----------------------------------------------------------
   Layout
   ------------------------------------------------------- */

/* Container centré */

.centered-container {
    clear: both;
    text-align: center;
}

/* Contenu flottant */

#header,
#footer,
.block-content,
.centered-container > * {
    width: 940px;
    margin: 0 auto;
    text-align: left;
}

.cssn-is-responsive #header,
.cssn-is-responsive #footer,
.cssn-is-responsive .centered-container > *,
.cssn-is-responsive .block-content {
    width: auto;
    max-width: 940px;
}

/* ----------------------------------------------------------
   Contenu
   ------------------------------------------------------- */

.content-container {
    position: relative;
    padding: 20px;
}

/* Zone élargie */

.large-content-area {
    position: relative;
    margin-right: -20px;
    margin-left: -20px;
}