@charset "UTF-8";

/*
Name: Boutons par défaut
URL: http://github.com/Darklg/CSSNormalize
Version: 1.3.1
License: MIT
*/

/* --------------------------
    Base du bouton
   ----------------------- */

.le-button {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-background-clip: padding-box;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: -moz-none;
    user-drag: none;
    *zoom: 1;
    *display: inline;
    -webkit-appearance: ;
}

.le-button:before,
.le-button:after {
    vertical-align: 0;
}

.le-button:before {
    margin-right: 8px;
}

.le-button:after {
    margin-left: 8px;
}

/* --------------------------
    Thème basique du bouton
   ----------------------- */

.le-button {
    height: 25px;
    padding: 0 5px;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    font: 12px/25px sans-serif;
    color: #333;
    background-color: #fff;
}

/* Ajout d'un ID pour compatibilité avec CSSN */

#main-container .le-button:hover,
.le-button:hover {
    border-color: #999;
    color: #000;
    background: #e0e0e0;
}