@charset "UTF-8";
/*
Version: 1.0
*/

/* ----------------------------------------------------------
   Tableaux
   ------------------------------------------------------- */


.le-tableau {
	width:100%;
	color:#333;
	background:#fff;
}

.le-tableau,
.le-tableau tr,
.le-tableau td,
.le-tableau th {
	border:1px solid #ccc;
	border-collapse:collapse;
	vertical-align:middle;
}

.le-tableau tr:hover {
	color:#000;
	background:#fafafa;
}

.le-tableau td,
.le-tableau th {
	padding:5px;
	font-size:12px;
}

.le-tableau td {
	text-align:left;
}

.le-tableau th {
	text-align:center;
	font-weight:bold;
	background:#f0f0f0;
}