@charset "UTF-8";
/*
Name: Gallery
URL: http://github.com/Darklg/CSSNormalize
Version: 1.1
*/

/* Peut se merger avec le clear de grid */
.subfloat:after {
	content:" ";
	display:block;
	visibility:hidden;
	clear:both;
	height:0;
}

.subfloat {
	position:relative;
}

.subfloat > * {
	float:left;
}

/* margin-right = 0-marge droite d'un élément */

.sf_100_20 {
	margin-right:-20px;
}

.sf_100_20 > * {
	width:100px;
	margin:0 20px 20px 0;
}