/* =============================================================================
   Règlages de base
   ========================================================================== */

html{height:100%;}
body{line-height:1;min-height:100%;position:relative;}
.lt_ie7 body {height:100%;}

/* Prevents sub and sup affecting line-height in all browsers | gist.github.com/413930 */
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}

/* bicubic resizing for non-native sized IMG: code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.lt_ie8 img { -ms-interpolation-mode: bicubic; }
/* Aligne les images inline sur le texte */
img,input[type=image]{vertical-align:bottom;}

/* =============================================================================
   Contenu par défaut
   ========================================================================== */

body {
	font:62.5% Arial, Helvetica, sans-serif;
	color:#212121; /* Dark Grey is the new black */
}

#main-container {
	width:940px;
	margin:0 auto;
	padding-bottom:30px;
}

h1 {
	font-size:25px;
	line-height:40px;
}

h2 {
	font-size:20px;
	line-height:30px;
	margin:10px 0 5px 0;
}

h3 {
	font-size:15px;
	line-height:20px;
	margin:5px 0;
}

p, li {
	font-size:12px;
	line-height:16px;
}

.le-content ul,
.le-content p {
	margin-bottom:12px;
}

.le-content ul ul {
	margin-bottom:0;
	padding-left:12px;
}

.le-content ul:last-child,
.le-content p:last-child {
	margin-bottom:0;
}

.le-content li {
	list-style:inside disc;
}

.block-content {
	padding-bottom:50px;
	border-bottom:1px solid #f0f0f0;
	margin-bottom:50px;
}
