@charset "UTF-8";
/*
Name: Base Reset ( from HTML Boilerplate )
URL: http://github.com/Darklg/CSSNormalize
Version: 1.0.3
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article, aside, 
audio, canvas, datagrid, datalist, details, dialog, figure, footer, header, 
menu, nav, section, video,abbr, eventsource, mark, meter, time, progress, output, bb {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font:inherit;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
article, aside, audio, canvas, datagrid, datalist, details, dialog, figure, 
figcaption, footer, header, hgroup, menu, nav, section, video {
    display: block;
}
abbr, eventsource, mark, meter, time, progress, output, bb {
    display:inline;
}
a{text-decoration:none;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
strong{font-weight:bold}
em{font-style:italic}
/* tables still need 'cellspacing="0"' in the markup */
table{border-collapse:collapse;border-spacing:0;}
nav ul { list-style:none; }
input, select {vertical-align:middle;}
/* align checkboxes, radios, text inputs with their label */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom;}
.lt_ie8 input[type="checkbox"] {vertical-align: baseline; }
.lt_ie7 input { vertical-align: text-bottom; }
input:focus {outline:0}
input:-webkit-autofill{background-color:#ccc!important}
video, img, object, iframe {max-width: 100%;height:auto;}
/* Bug with Firefox and buttons */
button::-moz-focus-inner {border:0;padding:0;margin:0;}