@charset "UTF-8";

/* ----------------------------------------------------------
  Vars
---------------------------------------------------------- */

/* Breakpoints
-------------------------- */

$mobile-tiny: 550px;
$mobile-max: 767px;
$tablet-min: 768px;
$tablet-mid: 895px;
$tablet-max: 1023px;
$desktop-min: 1024px;
$desktop-mid: 1299px;
$desktop-max: 1599px;
$large-min: 1600px;

$mobile_only: "max-width:"+$mobile-max;
$mobile_excluded: "min-width:"+$tablet-min;
$tablet_down: "max-width:"+$tablet-mid;
$desktop_excluded: "max-width:"+$tablet-max;
$desktop_only: "min-width:"+$desktop-min;
$large_excluded: "max-width:"+$desktop-max;
$large_only: "min-width:"+$large-min;

/* Margins
-------------------------- */

$mobile-padding: 15px;
$mobile-padding-neg: -15px;
$tablet-padding: 30px;
$tablet-padding-neg: -30px;
$desktop-padding: 45px;
$desktop-padding-neg: -45px;

/* ----------------------------------------------------------
  Imports
---------------------------------------------------------- */

@import "csscommon/components/common";
@import "csscommon/components/common/blockmedia";
@import "csscommon/components/common/codepresentation";
@import "csscommon/components/common/drawers";
@import "csscommon/components/common/imagereplace";
@import "csscommon/components/common/messages";
@import "csscommon/components/common/verticalcenter";
@import "csscommon/components/common/navtoggle";
@import "csscommon/components/mixins/common";
@import "csscommon/components/modale/core";
@import "csscommon/components/modale/theme";
@import "csscommon/components/progressbar/core";
@import "csscommon/components/progressbar/theme";
@import "csscommon/components/separators/core";
@import "csscommon/components/separators/theme";
@import "csscommon/components/stars/core";
@import "csscommon/components/stars/theme";
@import "csscommon/components/tags/core";
@import "csscommon/components/tags/theme";
@import "csscommon/components/tooltip/core";
@import "csscommon/components/tooltip/theme";
