@charset "UTF-8";

/* ----------------------------------------------------------
  Config
---------------------------------------------------------- */

/* Colors & fonts */

$color-main: #333333;
$font-main: sans-serif;

/* Sprites */

$sprites: sprite-map("sprite-interface/*.png");       /* :) */
$sprites2x: sprite-map("sprite-interface-2x/*.png");  /* :) */

/* ----------------------------------------------------------
  Utilities
---------------------------------------------------------- */

@include "utilities/_retina-sprites.scss";
@include "utilities/_plugins.scss";

/* ----------------------------------------------------------
  Framework
---------------------------------------------------------- */

// @include "csscommon/_cssc-default.scss";

/* ----------------------------------------------------------
  Project
---------------------------------------------------------- */

@include "project/_base.scss";
