@charset "UTF-8";

/* ----------------------------------------------------------
  Config
---------------------------------------------------------- */

/* Fonts */

$font-main: Helvetica, Arial, sans-serif;

/* Colors */

$color-main: #333333;
$color-fb: #3B5998;
$color-twitter: #00ACED;
$color-gplus: #DD4B39;

/* Breakpoints */

$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1023px;
$desktop-min: 1024px;

/* Basic queries */

$desktop_only:'min-width:'$desktop-min;
$mobile_only:'max-width:'$mobile-max;

/* Sprites */

$spritefolder: "images/css-sprite/*";
$spritefolder2x: "images/css-sprite-2x/*";
$sprites: sprite-map("css-sprite/*.png", $spacing: 10px);
$sprites2x: sprite-map("css-sprite-2x/*.png", $spacing: 10px);

/* ----------------------------------------------------------
  Utilities
---------------------------------------------------------- */

@import "utilities/_retina-sprites.scss";
@import "utilities/_mixins.scss";
@import "utilities/_plugins.scss";

/* ----------------------------------------------------------
  Framework
---------------------------------------------------------- */

// @import "csscommon/_cssc-default.scss";

/* ----------------------------------------------------------
  Project
---------------------------------------------------------- */

@import "project/_base.scss";
