@charset "UTF-8";

/* ----------------------------------------------------------
  Config
---------------------------------------------------------- */

/* Colors & fonts */

$color-main: #333333;
$font-main: sans-serif;

/* Sprites */

$sprites: sprite-map("css-sprite/*.png", $spacing: 10px);       /* :) */
$sprites2x: sprite-map("css-sprite-2x/*.png", $spacing: 10px);  /* :) */

/* ----------------------------------------------------------
  Utilities
---------------------------------------------------------- */

@import "utilities/_retina-sprites.scss";
@import "utilities/_plugins.scss";
@import "utilities/_mixins.scss";

/* ----------------------------------------------------------
  Framework
---------------------------------------------------------- */

// @import "csscommon/_cssc-default.scss";

/* ----------------------------------------------------------
  Project
---------------------------------------------------------- */

@import "project/_base.scss";
